body{
	background-color: #222222;
}

.whole-container{
	min-height: 78px;
	background: #222222;
	margin-left: 78px;
	margin-right: 78px;

}

.tAc{
	text-align: center !important;
}
.tAl{
	text-align: left;
}
.navbar{
	border-color: #5786aa;
	max-height:44px;
	background-color: #1c5380;
	margin-bottom: 0px;
}
.nav .dropdown-toggle{
	color: white !important;
}
.nav .dropdown{
	display: block;
}
.navbar-header :hover{
background-color:#5786aa;
}

.nav .dropdown .caret{
	display:none !important;
}
.navbar-header {
	text-align: center;
	margin-left: 85%;
	margin-top: -45px;
	border-right: 1px solid #5786aa;
	border-left: 1px solid #5786aa; 
	display:inline;
	max-height: 48px;

	
}

#profile_link{
	max-height: 24px !important;
	max-width: 24px !important;
	display: block;
	margin-top: 13px;
	margin-left: -5px;
}

.dropdown-toggle {
	padding-bottom: 9px !important;
	padding-top: 0px;
	margin-top: -32px;
	margin-left: 15px;
	margin-right: -5px;
}

.top-logo{
	display: block;
	height: 100%;
	width: 100%;
	margin-left: 50%;
	margin-right: 0px;
	margin-top:10px; 
}

.home-logo{
	 display:block;
	 margin-left: 82%;
	 max-height: 42px;
	 margin-top: -25px;
	 border-left: 1px solid #5786aa; 
	 padding-left: 8px;
}

.profile-pic-main{
	background-color: white;
    border:solid 21px #f00; 
    width:150px;
    height:150px;
    display: inline-block;  
    padding-left: 10px; 
    margin-left: 10px;
}

.about-profile{
	padding-left: 15px;
	display: inline-block;
	padding-top: 20px;
	display: inline-block;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;

}
.bio-section{
	background-color: #eeeeee;
	border-bottom: 1px solid #5786aa;
}

.stats{
	background-color: #eeeeee;

}
.pic-section{
	display: inline;
	/*max-height: 250px;
	max-width: 100%;*/
	/*background-color: red;*/
}
.five-across{
	display: inline !important;
	list-style: none;
	max-width: 
}

.picture{
	display: inline !important;
	border: 5px solid white;
	width: 200px;
	height: 200px;
	margin: 15px 5px;

}
.bio-pic{
	max-width: 150px;
	max-height: 150px;
	display: inline;
	border: 5px solid white;

}

.image-row{
	display:inline;
}
#image1{
	margin-left: -20px;
}
.all-pics{
	/*I need to add a box at the bottom of 
	all the pics with a heart and comment box */

}
.date{
	border-bottom: 2px solid black;
	min-width: 100%
}
.user-stats{
	list-style: none;
	display:inline-block;
}









