body{
	background-color: #222222;
}

.whole-container{
	min-height: 78px;
	/*background: #222222;*/
	margin-left: 78px;
	margin-right: 78px;
	background-color: rgba(216, 216, 216, 0.5);

}

.tAc{
	text-align: center !important;
}
.tAl{
	text-align: left;
}
.navbar{
	border-color: #5786aa;
	max-height:44px;
	background-color: #1c5380;
	margin-bottom: 0px;
}
.nav .dropdown-toggle{
	color: white !important;
}
.navbar-header :hover{
background-color:#5786aa;
}
.home-b :hover{
	background-color:#5786aa;
}

.nav .dropdown .caret{
	display:none !important;
}
.navbar-header {
	text-align: center;
	margin-left: 86%;
	margin-top: -45px;
	border-right: 1px solid #5786aa;
	border-left: 1px solid #5786aa; 
	display:inline;
	max-height: 48px;


	
}

#profile_link{
	max-height: 24px !important;
	max-width: 24px !important;
	display: block;
	margin-top: 13px;
	margin-left: -5px;
}

.dropdown-toggle {
	padding-bottom: 9px !important;
	padding-top: 0px;
	margin-top: -32px;
	margin-left: 15px;
	margin-right: -5px;
	background-color: transparent;
}


.top-logo{
	display: block;
	height: 100%;
	width: 100%;
	margin-left: 50%;
	margin-right: 0px;
	margin-top:10px; 
}

.home-logo{
	 display:block;
	 margin-left: 82%;
	 border-left: 1px solid #5786aa; 
	 padding-left: 8px;
	 max-height: 44px;
	 margin-top: -46px;
}

.profile-pic-main{
	background-color: white;
    border:solid 21px #f00; 
    width:150px;
    height:150px;
    display: inline-block;  
    padding-left: 10px; 
    margin-left: 10px;
}

.about-profile{
	padding-left: 15px;
	display: inline-block;
	padding-top: 20px;
	display: inline-block;
	margin-left: 170px;
	font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;

}
.bio-section{
	background-color: #eeeeee;
	border-bottom: 1px solid #5786aa;
}
/*
.stats{
	background-color: #eeeeee;

}*/
.user-stats{
	display: block;
	margin-top: 10px;
	border: 1px solid #eeeeee;
	margin-bottom: 0px; 
}
.pic-section{
	display: inline;
	/*max-height: 250px;
	max-width: 100%;*/
	/*background-color: red;*/
}
.five-across{
	display: inline !important;
	list-style: none;
	display:inline-block;
	float: left;
}

.picture{
	display: inline !important;
	border: 5px solid white;
	width: 235px;
	height: 235px;
	margin: 15px 5px;

}
.bio-pic{
	max-width: 150px;
	max-height: 150px;
	display: inline;
	border: 5px solid white;
	margin-left: 15px;
	z-index: 0;
	top: 60px;
	left: 97px;
}

.image-row{
	display:inline;
}
/*.image1{

	margin-left: -20px !important;
}*/
.all-pics{
	width: 200px;
	height: 100px;
	background: black;

	/*I need to add a box at the bottom of 
	all the pics with a heart and comment box */

}
.date{
	border-bottom: 2px solid black;
	min-width: 100%
}
.user-stats{
	list-style: none;
	display:inline-block;
}
/*.picture:hover{
	height: 400px;
	width: 400px;

}*/
.image1:hover{
	/*position: fixed;*/


}
.container{
	
	
}

.image1{

}











